ion-content {
  .scroll-content {
    background: url('../assets/imgs/cat.png') center/cover no-repeat;
    .item-background {
      background-color: transparent;
    }
    ion-item {
      .color {
        color: #fff;
      }
    }
  }
}